.ImgDiv {
    column-count: 4;
    column-gap: 0;
    
}
  
.item {
    position: relative;
    counter-increment: count;
    break-inside: avoid;
    padding: 6px;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
    cursor: default;
}

.mask {
    user-select: none;
    position: absolute; 
    background: rgba(216, 210, 210, 0.6); 
    color: #ffffff; 
    opacity: 0; 
    top: 0; 
    right: 0; 
    width: 100%; 
    height: 100%; 
    border-radius: 5px; 
    pointer-events:none;
}

.item img:hover+.mask{
    opacity: 0.35;
}

.item img:hover{
    cursor: pointer;
}

 
