:root {
	--h-border-color: rgb(255, 191, 191);
	--h-bg-color: rgb(255, 232, 232);
	--table-border-color: rgb(255, 235, 211);
	--th-bg-color: rgb(255, 243, 228);
	--tr-bg-color: rgb(255, 249, 242);
	--tr-hover-bg-color: rgb(254, 255, 230);
	--code-bg-color: rgb(247, 247, 247);
	--del-color: rgb(151, 151, 151);
	--selection-bg-color: rgb(235, 227, 255);
	--block-shadow: 0.15rem 0.15rem 0.5rem rgb(150, 150, 150);
	--sans-serif-font: "Consolas", "Arial", "宋体", sans-serif;
	--monospace-font: "Consolas", "Source Code Pro Regular", "Source Code Pro", monospace;
}

.showarea h1{
    font-size: 1.2rem;
    text-align: center;
    /* text-shadow: 0.15rem 0.15rem 0.3rem rgb(187, 187, 187); */
    border:none;
    /* gradient underline */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
}

.showarea h2 {
	font-size: 0.6rem;
	background-color: var(--h-bg-color);
	padding-top:0rem;
	padding-bottom:0rem;
	padding-left: 0rem;
	padding-right: 0rem;
	border-left: 0.2rem solid var(--h-border-color);
	border-radius: 0.2rem;
	line-height:1.35;
}
.showarea h3 {
	font-size: 1.6rem;
	text-decoration: underline double var(--h-border-color) 0.15rem;
}
.showarea h4 {
	text-decoration: underline dotted var(--h-border-color) 0.2rem;
}

.showarea p {
	font-size: 0.3rem;
	line-height: 0.3rem;
	text-indent: 2px;
	margin-top:0.2rem;
	margin-bottom:0.3rem;
}

.showarea ul{
	margin-top: 0rem;
	margin-bottom:rem;
}

.showarea li p{
	text-indent:0px;
}