/*  Z轴 头部：1 轮播：1 登录：7 ， 弹窗：7 轮播内容：6 */
/* 定义变量 */
:root {
    --background-color:#F7F2F2;
}

/* ======================================= */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}  

body, html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ================================ */

/* ===============响应式布局========== */
/* rem + vw 方案 单位规定 */
html{
    font-size:13.33333333vw
}

/* 媒体查询 */
@media (min-width: 560px) {
    html {
      font-size: 54px;
    }
  }
/* 单位规定结束 */


.slidebar{
    height: 100vh;
    width: 16vw;
    background: whitesmoke;
}

.showarea{
    height: 90vh;
    width: 88vw;
    padding: 6vw;
    padding-top: 3vh;
    padding-bottom: 10vh;
    top:0;
    background-color: white;
    overflow-y: scroll;
}

.home{
    pointer-events: auto;
    margin-top:0.2rem;
    margin-left:0.3rem;
    margin-bottom: 0.7rem;
    padding: 0;
    border: none;
    cursor: pointer;
    user-select: none;
    display: block;
    font-size: 0.4rem;
    font-weight: 400;
    font-family: Lato;
    letter-spacing: 0px;
    color: rgb(112, 112, 112);
}
.home:hover{
    color: rgba(112, 112, 112, 0.5);
    transition: all 0.5s ease-out;
}

.Menu{
    color: rgb(112, 112, 112);
}

.MenuSelected, .MenuSelected .arrow{
    color: rgb(217, 156, 87);
    opacity: 1;
}


#JLULife, #HangZhou, #Menu2{
    pointer-events: auto;
    margin-top:0.3rem;
    margin-left:0.3rem;
    padding: 0;
    border: none;
    cursor: pointer;
    user-select: none;
    display: block;
} 

.Label{
    pointer-events: auto;
    margin-left:0.1rem;
    border: none;
    cursor: pointer;
    user-select: none;
    display: block;
    font-size: 0.3rem;
    font-weight: 300;
    font-family: Lato;
    letter-spacing: 0px;
}

.MenuItem{
    position: relative;
    margin-left:0.4rem;
    margin-top:0.1rem;
    border: none;
    cursor: pointer;
    user-select: none;
    font-weight: 300;
    font-family: Lato;
    font-size: 0.2rem;
}

.MenuItem::after {
    content: "";
    display: block;
    position: absolute;
    width: 0.05rem;
    height: 0.05rem;
    bottom: 0.05rem;
    left:-0.1rem;
    transform: rotate(-45deg);
    border-bottom: 1.5px solid;
    border-right: 1.5px solid;
}

.Label:hover, .MenuItem:hover{
    color: rgb(217, 156, 87);
    transition: all 0.3s ease-out;
}